# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env
.env
.env.local
client/.env
server/.env

# build outputs
client/dist/
server/uploads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
